.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.button-block {
  vertical-align:middle;
}

.button-block-inline {
  display:inline-block;
}

body div {
  text-align: center;
}

label, input[type=text], input[type=password] {
  display: inline-block;
  width: 150px;
  margin: 5px;
}

input[type=submit] {
  width: 60px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}