
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Events</title>
</head>
<body>
	<h1 align="center">Events</h1>
	<br/>
      <a href="/new_event">Enter New Event</a>
    <br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Id <span th:text="${events.maxId}">id</span></th>
                <th>Name</th>
                <th>Date</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="event : ${events.list}">
                <td th:text="${event.id}">Id</td>
                <td th:text="${event.name}">Name</td>
                <td th:text="${event.date}">Date</td>                
                <td> 
                    <a th:href="${'/edit/' + {event.id}}">Edit</a>
                </td>                
                <td> 
                    <a th:href="${'/delete/' + {event.id}}">Delete</a>
                </td>                
            </tr>
        </tbody>
    </table>
</body>
</html>