<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Edit Person</title>
    <link rel="stylesheet" th:href="@{/css/defteros.css}">
  </head>
  <body>
    <div align="center">
      <h1>
        Edit Person
      </h1>
      <br/>
      <form action="#" th:action="@{/person/update}" th:object="${person}"
        method="post">
        <table border="0" cellpadding="10">
          <tr>
            <td>Id:</td>
            <td><input type="text" th:field="*{id}" readonly="readonly"</td>
          </tr>
          <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"</td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
            
          </tr>
          <tr>
            <td>Rating:</td>
            <td><input type="number" th:field="*{rating}"</td>
            <td th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}">Name Error</td>
          </tr>
          <tr>
            <td colspan="2"><button type="submit">Save</button> </td>
        </tr>
        </table>
      </form>
      <div class="button-block">
        <div class="button-block-inline" style="display:inline-block;">
          <a href="/persons" class="button">Cancel</a>
        </div>
        <div style="display:inline-block;">
          <a href="person/persons.html" th:href="@{/person/delete/{id}(id=${personForm.id})}" class="button">Delete</a>
        </div>
      </div>
    </div>
  </body>

</html>