
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Events</title>
    <link rel="stylesheet" th:href="@{/css/defteros.css}">
</head>
<body>
    <h1 align="center">Events</h1>
    <br/>
      <a href="/">Home</a>
    <br/>
    <br/>
      <a href="/event/new">Enter New Event</a>
    <br/>
    <!--
    <br/>
      <a href="/event/content">Test content</a>
    <br/>  
    <div th:fragment="/event/content">
        ... content
    </div>   -->
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Id <span th:text="${events.maxId}">id</span></th>
                <th>Name</th>
                <th>Date</th>
                <th>Rounds</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="event : ${events.list}">
                <td th:text="${event.id}">Id</td>
                <td th:text="${event.name}">Name</td>
                <td th:text="${#dates.format(event.dateLocal,'dd-MM-yyyy')}">Date</td>                
                <td th:text="${event.rounds}">Rounds</td>                
                <td> 
                    <a th:href="${'/event/edit/' + {event.id}}">Edit</a>
                </td>                
                <td> 
                    <a th:href="${'/event/delete/' + {event.id}}">Delete</a>
                </td>                
            </tr>
        </tbody>
    </table>
</body>
</html>